openapi: 3.1.0
info:
  title: Transika Merchant API
  version: 1.0.0
  description: |
    Merchant-facing contract for Transika treasury, beneficiary, tGHS,
    transaction, and webhook products. OTC trading is available in the
    merchant dashboard and is not part of this public API surface.

    Authenticate with a live (`txk_live_...`) key on the live server or a test
    (`txk_test_...`) key on the sandbox server. Keys and routes cannot be mixed.
    Merchants must have approved KYB/KYC. Feature-gated endpoints additionally
    require the named active entitlement. Read operations require `api:read`;
    write operations require `api:write`, which also grants read access. Every
    API key is restricted to its configured IPv4/IPv6 addresses or CIDR ranges;
    nonmatching source IPs receive `403` with `errors.code` set to
    `api_key_ip_not_allowed`.
servers:
  - url: https://sbx-institutional-api.tran-sika.com/v1
    description: Live path (`txk_live_` keys). Origin is the current institutional host; confirm the production origin in your dashboard at cutover.
  - url: https://sbx-institutional-api.tran-sika.com/v1/sandbox
    description: Sandbox / Test path (`txk_test_` keys)
tags:
  - name: Beneficiaries
    description: Ghana payout account discovery and storage.
  - name: Transactions
    description: Unified merchant treasury transaction history.
  - name: tGHS
    description: Managed GHS balances, activity, and Ghana beneficiary payouts.
  - name: Webhooks
    description: Merchant webhook endpoint administration.
security:
  - bearerAuth: []
paths:
  /beneficiaries/networks:
    get:
      tags: [Beneficiaries]
      operationId: listBeneficiaryNetworks
      summary: List supported Ghana payout networks
      description: Requires approved KYB/KYC and `api:read`.
      parameters:
        - name: kind
          in: query
          schema:
            type: string
            enum: [momo, bank]
      responses:
        "200":
          description: Supported networks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkListResponse"
              example:
                status: success
                message: success
                data:
                  networks:
                    - code: MTNGH
                      label: "MTN Mobile Money"
                      kind: momo
                    - code: TCELGH
                      label: "Telecel Cash"
                      kind: momo
                    - code: ATGH
                      label: "AirtelTigo Money"
                      kind: momo
                    - code: OMNIBSIC
                      label: "OmniBSIC Bank"
                      kind: bank
                    - code: GCBGH
                      label: "GCB Bank"
                      kind: bank
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
  /beneficiaries/resolve:
    post:
      tags: [Beneficiaries]
      operationId: resolveBeneficiaryAccount
      summary: Resolve a Ghana payout account
      description: |
        Name enquiry only — does not save a beneficiary. Requires approved KYB/KYC and `api:read`.

        **Test** returns a simulated `accountName` (`TEST {networkCode} {last4}`) so you can integrate without a live rail call.

        **Live** queries the Ghana payout rail for MoMo and bank accounts and returns the registered holder name. Unverifiable accounts or rail failures return `422` or `502` with message `Name enquiry failed`; Transika does not invent a name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveBeneficiaryRequest"
            example:
              networkCode: MTNGH
              accountNumber: "0552479460"
      responses:
        "201":
          description: Resolved account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvedBeneficiaryResponse"
              examples:
                test:
                  summary: Test (simulated)
                  value:
                    status: success
                    message: success
                    data:
                      accountName: "TEST MTNGH 9460"
                      accountType: momo
                      networkCode: MTNGH
                      networkLabel: "MTN Mobile Money"
                live:
                  summary: Live (rail-verified)
                  value:
                    status: success
                    message: success
                    data:
                      accountName: "JOSEPH ANNOH"
                      accountType: momo
                      networkCode: MTNGH
                      networkLabel: "MTN Mobile Money"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502":
          description: Upstream Ghana payout rail unavailable or dependency failure during Live resolve.
      x-codeSamples:
        - lang: curl
          source: |
            curl -X POST "$TRANSIKA_BASE_URL/beneficiaries/resolve" \
              -H "Authorization: Bearer $TRANSIKA_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"networkCode":"MTNGH","accountNumber":"0552479460"}'
  /beneficiaries:
    get:
      tags: [Beneficiaries]
      operationId: listBeneficiaries
      summary: List beneficiaries
      description: |
        Requires approved KYB/KYC and `api:read`. Filter with `referenceId` for an
        exact lookup by your correlation id (returns that beneficiary or `404`).
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Search"
        - name: referenceId
          in: query
          description: Exact merchant correlation id (unique per environment).
          schema:
            type: string
            maxLength: 64
      responses:
        "200":
          description: Paginated beneficiaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryListResponse"
              example:
                status: success
                message: success
                data:
                  beneficiaries:
                    - id: "d64cb955-01c7-4a10-b1bf-1479ebb6fa9f"
                      environment: test
                      label: "TEST MTNGH 9460"
                      accountType: momo
                      accountNumber: "0552479460"
                      networkCode: MTNGH
                      accountName: "TEST MTNGH 9460"
                      bankName: null
                      referenceId: "user_42_momo"
                      createdAt: "2026-08-08T16:29:18.628Z"
                      updatedAt: "2026-08-08T16:29:18.628Z"
                    - id: "0a06b04f-6b71-4df3-a9ce-4c35f38d7582"
                      environment: test
                      label: "TEST OMNIBSIC 8888"
                      accountType: bank
                      accountNumber: "067677767788888888"
                      networkCode: OMNIBSIC
                      accountName: "TEST OMNIBSIC 8888"
                      bankName: "OmniBSIC Bank"
                      referenceId: "user_42_bank"
                      createdAt: "2026-08-06T14:47:53.202Z"
                      updatedAt: "2026-08-06T14:47:53.202Z"
                  total: 5
                  page: 1
                  limit: 20
                  environment: test
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      tags: [Beneficiaries]
      operationId: createBeneficiary
      summary: Create a beneficiary
      description: Requires approved KYB/KYC and `api:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BeneficiaryInput"
            examples:
              momo:
                summary: Mobile money
                value:
                  label: "TEST MTNGH 9460"
                  accountType: momo
                  accountNumber: "0552479460"
                  networkCode: MTNGH
                  accountName: "TEST MTNGH 9460"
                  referenceId: "user_42_momo"
              bank:
                summary: Bank
                value:
                  label: "TEST OMNIBSIC 8888"
                  accountType: bank
                  accountNumber: "067677767788888888"
                  networkCode: OMNIBSIC
                  accountName: "TEST OMNIBSIC 8888"
                  bankName: "OmniBSIC Bank"
                  referenceId: "user_42_bank"
      responses:
        "201":
          description: Beneficiary created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
              examples:
                momo:
                  summary: Mobile money
                  value:
                    status: success
                    message: Beneficiary created
                    data:
                      id: "d64cb955-01c7-4a10-b1bf-1479ebb6fa9f"
                      environment: test
                      label: "TEST MTNGH 9460"
                      accountType: momo
                      accountNumber: "0552479460"
                      networkCode: MTNGH
                      accountName: "TEST MTNGH 9460"
                      bankName: null
                      referenceId: "user_42_momo"
                      createdAt: "2026-08-08T16:29:18.628Z"
                      updatedAt: "2026-08-08T16:29:18.628Z"
                bank:
                  summary: Bank
                  value:
                    status: success
                    message: Beneficiary created
                    data:
                      id: "a12cb955-01c7-4a10-b1bf-1479ebb6fa9f"
                      environment: test
                      label: "TEST OMNIBSIC 8888"
                      accountType: bank
                      accountNumber: "067677767788888888"
                      networkCode: OMNIBSIC
                      accountName: "TEST OMNIBSIC 8888"
                      bankName: "OmniBSIC Bank"
                      referenceId: "user_42_bank"
                      createdAt: "2026-08-08T16:29:18.628Z"
                      updatedAt: "2026-08-08T16:29:18.628Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
  /beneficiaries/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Beneficiaries]
      operationId: getBeneficiary
      summary: Get a beneficiary by id
      description: Requires approved KYB/KYC and `api:read`.
      responses:
        "200":
          description: Beneficiary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      tags: [Beneficiaries]
      operationId: updateBeneficiary
      summary: Update beneficiary metadata
      description: |
        Requires approved KYB/KYC and `api:write`. Only `label` and `referenceId`
        may change. Account type, number, network, bank name, and resolved name are
        immutable — delete and create a new beneficiary after resolve.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BeneficiaryPatch"
      responses:
        "200":
          description: Beneficiary updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      tags: [Beneficiaries]
      operationId: deleteBeneficiary
      summary: Delete a beneficiary
      description: Requires approved KYB/KYC and `api:write`.
      responses:
        "200":
          description: Beneficiary deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /transactions:
    get:
      tags: [Transactions]
      operationId: listTransactions
      summary: List tGHS treasury transactions
      description: |
        Requires approved KYB/KYC and `api:read`. Returns Test treasury ledger
        rows (`tghs_payout` / `tghs_mint`). Filter with exact `reference`.
        For Live Ghana payout status, use `GET /tghs/redemptions` instead.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Search"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/TghsActivityStatus"
        - name: kind
          in: query
          schema:
            type: string
            enum: [payout, mint]
        - name: reference
          in: query
          description: Exact match on the merchant or system payment reference.
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        "200":
          description: Paginated treasury transactions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionListResponse"
              example:
                status: success
                message: success
                data:
                  transactions:
                    - id: "4e2bef6a-1def-4201-9f60-560d67521518"
                      tradeId: null
                      type: tghs_payout
                      source: treasury
                      environment: test
                      ghsAmount: null
                      usdtAmount: null
                      tghsAmount: "10000.00"
                      label: "TEST MTNGH 9460"
                      reference: "INV-10000-9460"
                      payeeName: "TEST MTNGH 9460"
                      paymentMode: momo
                      statusComposite: succeeded
                      payoutStatus: succeeded
                      createdAt: "2026-08-08T16:29:38.770Z"
                      updatedAt: "2026-08-08T16:29:38.770Z"
                    - id: "53c46e50-4fda-445d-94a1-3cd7fb04d3ba"
                      tradeId: "09ee5cf7-31ae-4e90-84bc-4dcb67d060e3"
                      type: tghs_mint
                      source: treasury
                      environment: test
                      ghsAmount: null
                      usdtAmount: null
                      tghsAmount: "1550.00"
                      label: "Simulated desk mint"
                      reference: "0x9faf0b65b2adfcca71afd4eee0b2261d17a00560ffa1721ca219acd1cb87d667"
                      payeeName: null
                      paymentMode: null
                      statusComposite: succeeded
                      payoutStatus: succeeded
                      createdAt: "2026-08-08T16:30:29.106Z"
                      updatedAt: "2026-08-08T16:30:29.106Z"
                  total: 16
                  page: 1
                  limit: 20
                  source: treasury
                  environment: test
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs:
    get:
      tags: [tGHS]
      operationId: getTghsSummary
      summary: Get the managed tGHS summary
      description: Requires approved KYB/KYC, active `otc` entitlement, and `api:read`. The returned balance is authoritative for the selected environment.
      responses:
        "200":
          description: Available balance, managed account details, and activity counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TghsSummaryResponse"
              example:
                status: success
                message: success
                data:
                  asset: tGHS
                  environment: test
                  balance: "46550.00"
                  wallet:
                    address: "0x5e31676da4527b910fa1799635d0291ee2727a00"
                    network: base
                    explorerUrl: "https://basescan.org/address/0x5e31676da4527b910fa1799635d0291ee2727a00"
                    onchainRegistered: true
                  activityCounts:
                    mint: 9
                    payout: 7
                    failed: 1
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs/activities:
    get:
      tags: [tGHS]
      operationId: listTghsActivities
      summary: List tGHS activities
      description: Requires approved KYB/KYC, active `otc` entitlement, and `api:read`.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - name: kind
          in: query
          schema:
            type: string
            enum: [all, mint, payout]
        - name: status
          in: query
          schema:
            type: string
            enum: [all, succeeded, failed, pending]
        - name: reference
          in: query
          description: Exact match on `paymentReference`.
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        "200":
          description: Paginated activities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TghsActivityListResponse"
              example:
                status: success
                message: success
                data:
                  activities:
                    - id: "4e2bef6a-1def-4201-9f60-560d67521518"
                      environment: test
                      kind: payout
                      status: succeeded
                      entryType: debit
                      amount: "10000.00"
                      asset: tGHS
                      tradeId: null
                      note: "Payout completed"
                      txHash: "0x9e2e0f32856eefc7ea5432b5b97263ec726143d49eb61b9f347f083c86d17be2"
                      network: base
                      explorerTxUrl: "https://basescan.org/tx/0x9e2e0f32856eefc7ea5432b5b97263ec726143d49eb61b9f347f083c86d17be2"
                      beneficiaryId: "d64cb955-01c7-4a10-b1bf-1479ebb6fa9f"
                      paymentMode: momo
                      paymentReference: "INV-10000-9460"
                      payoutAccountNumber: "0552479460"
                      payoutBankName: null
                      payoutLabel: "TEST MTNGH 9460"
                      createdAt: "2026-08-08T16:29:38.770Z"
                    - id: "53c46e50-4fda-445d-94a1-3cd7fb04d3ba"
                      environment: test
                      kind: mint
                      status: succeeded
                      entryType: credit
                      amount: "1550.00"
                      asset: tGHS
                      tradeId: "09ee5cf7-31ae-4e90-84bc-4dcb67d060e3"
                      note: "Simulated desk mint"
                      txHash: "0x9faf0b65b2adfcca71afd4eee0b2261d17a00560ffa1721ca219acd1cb87d667"
                      network: base
                      explorerTxUrl: "https://basescan.org/tx/0x9faf0b65b2adfcca71afd4eee0b2261d17a00560ffa1721ca219acd1cb87d667"
                      beneficiaryId: null
                      paymentMode: null
                      paymentReference: null
                      payoutAccountNumber: null
                      payoutBankName: null
                      payoutLabel: null
                      createdAt: "2026-08-08T16:30:29.106Z"
                  total: 16
                  page: 1
                  limit: 20
                  environment: test
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs/redemptions:
    get:
      tags: [tGHS]
      operationId: listTghsRedemptions
      summary: List tGHS payout requests
      description: |
        Lists payout/redemption requests for the selected environment, newest
        first. Requires approved KYB/KYC, active `otc` entitlement, and `api:read`.
      parameters:
        - name: reference
          in: query
          description: Exact match on the merchant payout reference.
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        "200":
          description: Up to 100 payout requests, newest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TghsPayoutRecordListResponse"
              example:
                status: success
                message: success
                data:
                  redemptions:
                    - id: "9ce685a9-5886-4de6-871a-041bdb95f592"
                      environment: live
                      network: base
                      amount: "168000.00"
                      beneficiaryId: "6cd84483-4088-4579-a2e1-1d872ea3e22e"
                      reference: "INV-168000"
                      beneficiaryLabel: "MTNGH 9460"
                      paymentMode: momo
                      payoutAccountNumber: "0552479460"
                      status: completed
                      burnTxHash: "0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                      burnExplorerUrl: "https://basescan.org/tx/0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                      failureReason: null
                      burnConfirmedAt: "2026-08-09T12:48:01.727Z"
                      completedAt: "2026-08-09T12:48:22.104Z"
                      createdAt: "2026-08-09T12:47:43.774Z"
                      updatedAt: "2026-08-09T12:48:22.110Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs/redemptions/{id}:
    get:
      tags: [tGHS]
      operationId: getTghsRedemption
      summary: Get a tGHS payout receipt
      description: |
        Returns the merchant-owned redemption receipt, including lifecycle
        timestamps, burn transaction hash, and the matching Base or Base
        Sepolia explorer URL. Requires `api:read`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Redemption receipt.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TghsPayoutRecordResponse" }
              example:
                status: success
                message: success
                data:
                  id: "9ce685a9-5886-4de6-871a-041bdb95f592"
                  environment: live
                  network: base
                  amount: "168000.00"
                  beneficiaryId: "6cd84483-4088-4579-a2e1-1d872ea3e22e"
                  reference: "INV-168000"
                  beneficiaryLabel: "MTNGH 9460"
                  paymentMode: momo
                  payoutAccountNumber: "0552479460"
                  status: completed
                  burnTxHash: "0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                  burnExplorerUrl: "https://basescan.org/tx/0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                  failureReason: null
                  burnConfirmedAt: "2026-08-09T12:48:01.727Z"
                  completedAt: "2026-08-09T12:48:22.104Z"
                  createdAt: "2026-08-09T12:47:43.774Z"
                  updatedAt: "2026-08-09T12:48:22.110Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs/redemptions/{id}/refresh:
    post:
      tags: [tGHS]
      operationId: refreshTghsRedemption
      summary: Refresh a tGHS payout
      description: |
        Re-checks burn status and resumes payout if needed. Does not submit a
        new burn. Requires `api:read`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201":
          description: Reconciled redemption receipt.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TghsPayoutRecordResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /tghs/payout:
    post:
      tags: [tGHS]
      operationId: createTghsPayout
      summary: Request a tGHS payout
      description: |
        Creates a redemption in Test or Live (environment is the switch).
        Requires sufficient balance, an environment-matched beneficiary,
        approved KYB/KYC, `otc`, and `api:write`. Returns `approved` immediately
        and enqueues burn submission on the background worker (`tghs.payout.created`
        then `tghs.payout.burn_submitted`). Test simulates burn with a
        BaseScan-style proof; Live burns on-chain. Then Ghana disbursement
        runs. Poll `GET /tghs/redemptions/{id}` (or filter by `reference`) /
        `POST .../refresh`, or listen for webhooks, until `completed` or a
        terminal failure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TghsPayoutRequest"
            example:
              amount: 10000
              beneficiaryId: "d64cb955-01c7-4a10-b1bf-1479ebb6fa9f"
              reference: "INV-10000-9460"
              idempotencyKey: "payout-inv-10000-9460-1"
              sender:
                fullName: "Ama Mensah"
                country: GB
                city: London
                addressLine1: "14 Borough High Street"
                phone: "+447700900123"
                nationality: GH
                idType: passport
                idNumber: "C1234567"
                idCountry: GB
              metadata:
                partnerTxnId: "PARTNER-77821"
                purpose: "family_support"
      responses:
        "201":
          description: Payout / redemption request accepted.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TghsPayoutRecordResponse"
                  - $ref: "#/components/schemas/TghsPayoutResponse"
              examples:
                testPayout:
                  summary: Test environment payout
                  value:
                    status: success
                    message: tGHS payout initiated
                    data:
                      activity:
                        id: "4e2bef6a-1def-4201-9f60-560d67521518"
                        environment: test
                        kind: payout
                        status: succeeded
                        entryType: debit
                        amount: "10000.00"
                        asset: tGHS
                        tradeId: null
                        note: "Payout completed"
                        txHash: "0x9e2e0f32856eefc7ea5432b5b97263ec726143d49eb61b9f347f083c86d17be2"
                        network: base
                        explorerTxUrl: "https://basescan.org/tx/0x9e2e0f32856eefc7ea5432b5b97263ec726143d49eb61b9f347f083c86d17be2"
                        beneficiaryId: "d64cb955-01c7-4a10-b1bf-1479ebb6fa9f"
                        paymentMode: momo
                        paymentReference: "INV-10000-9460"
                        payoutAccountNumber: "0552479460"
                        payoutBankName: null
                        payoutLabel: "TEST MTNGH 9460"
                        createdAt: "2026-08-08T16:29:38.770Z"
                      balance: "36550.00"
                      environment: test
                      disbursement:
                        id: "72900000-8494-47fe-be59-88462316e601"
                        status: succeeded
                liveRedemption:
                  summary: Live completed redemption
                  value:
                    status: success
                    message: tGHS payout initiated
                    data:
                      id: "9ce685a9-5886-4de6-871a-041bdb95f592"
                      environment: live
                      network: base
                      amount: "168000.00"
                      beneficiaryId: "6cd84483-4088-4579-a2e1-1d872ea3e22e"
                      reference: "INV-168000"
                      beneficiaryLabel: "MTNGH 9460"
                      paymentMode: momo
                      payoutAccountNumber: "0552479460"
                      status: completed
                      burnTxHash: "0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                      burnExplorerUrl: "https://basescan.org/tx/0x49324ec2f1b310e5ffcae5a861fcd27fdababd46ea1260426ca77ee62ba44db6"
                      failureReason: null
                      burnConfirmedAt: "2026-08-09T12:48:01.727Z"
                      completedAt: "2026-08-09T12:48:22.104Z"
                      createdAt: "2026-08-09T12:47:43.774Z"
                      updatedAt: "2026-08-09T12:48:22.110Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
  /webhooks/endpoints:
    get:
      tags: [Webhooks]
      operationId: listWebhookEndpoints
      summary: List webhook endpoints
      description: Requires approved KYB/KYC, active `api_access` entitlement, and `api:read`.
      responses:
        "200":
          description: Active endpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointListResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      tags: [Webhooks]
      operationId: createWebhookEndpoint
      summary: Create a webhook endpoint
      description: |
        Requires approved KYB/KYC, active `api_access` entitlement, and
        `api:write`. The signing secret is returned once. URLs must be public,
        safe HTTPS destinations accepted by the service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookEndpointRequest"
            example:
              url: https://hooks.merchant.example/transika/payouts
              description: tGHS payout lifecycle
              environment: test
              events: ["tghs.payout.*", "webhook.test"]
      responses:
        "201":
          description: Endpoint created; securely store the one-time secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointCreatedResponse"
              example:
                status: success
                message: Webhook endpoint created
                data:
                  id: "ea503d42-a37e-4667-8ae9-9b006a5fd021"
                  url: https://hooks.merchant.example/transika/payouts
                  description: tGHS payout lifecycle
                  enabled: true
                  environment: test
                  events: ["tghs.payout.*", "webhook.test"]
                  secretPrefix: "whsec__fl-2n"
                  signingSecret: "whsec_REPLACE_WITH_ONE_TIME_SECRET"
                  createdAt: "2026-08-08T16:37:17.870Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/InternalError" }
  /webhooks/endpoints/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    delete:
      tags: [Webhooks]
      operationId: deleteWebhookEndpoint
      summary: Revoke a webhook endpoint
      description: Requires approved KYB/KYC, active `api_access` entitlement, and `api:write`.
      responses:
        "200":
          description: Endpoint revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedResourceResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /webhooks/endpoints/{id}/rotate-secret:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Webhooks]
      operationId: rotateWebhookSecret
      summary: Rotate a webhook signing secret
      description: Requires approved KYB/KYC, active `api_access` entitlement, and `api:write`. The new secret is returned once.
      responses:
        "201":
          description: Secret rotated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotatedWebhookSecretResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /webhooks/endpoints/{id}/test:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Webhooks]
      operationId: testWebhookEndpoint
      summary: Queue a test webhook
      description: Requires an enabled endpoint, approved KYB/KYC, `api_access`, and `api:write`.
      responses:
        "201":
          description: Test delivery queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookTestResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "txk_live_... or txk_test_..."
      description: Use a live key with the live server and a test key with the sandbox server. The request source must match the key's IP whitelist.
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Search:
      name: q
      in: query
      schema:
        type: string
  responses:
    BadRequest:
      description: Malformed request or live/test key and server mismatch.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing, invalid, or revoked bearer credential.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: API-key IP whitelist, KYB/KYC, feature entitlement, scope, role, or environment requirement failed. A source-IP denial has `errors.code` set to `api_key_ip_not_allowed`.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found in the authenticated merchant and environment.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Conflict:
      description: Resource already exists or conflicts with current state.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    ValidationError:
      description: Request fields or resource lifecycle state are invalid.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    InternalError:
      description: Unexpected server or upstream-provider error. Internal details are never returned.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: error
            message: An error occurred
            data: null
  schemas:
    Environment:
      type: string
      enum: [live, test]
    DateTime:
      type: string
      format: date-time
    DecimalString:
      type: string
      pattern: '^-?[0-9]+(?:\.[0-9]{1,2})?$'
      description: Decimal amount string with at most 2 fractional digits. tGHS responses use exactly 2 (e.g. `"10000.00"`).
      example: "10000.00"
    SuccessBase:
      type: object
      required: [status, message, data]
      properties:
        status:
          const: success
        message:
          type: string
        data: {}
    ErrorResponse:
      type: object
      required: [status, message, data]
      properties:
        status:
          const: error
        message:
          type: string
          example: Unauthorized
        errors:
          description: Optional validation or policy details.
        data:
          type: "null"
    EmptySuccessResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: "null"
    DeletedResourceResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [id]
              properties:
                id: { type: string, format: uuid }
    PayoutNetwork:
      type: object
      required: [code, kind, label]
      properties:
        code:
          type: string
          examples: [MTNGH, STANBICGH]
        kind:
          type: string
          enum: [momo, bank]
        label:
          type: string
    NetworkListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [networks]
              properties:
                networks:
                  type: array
                  items: { $ref: "#/components/schemas/PayoutNetwork" }
    ResolveBeneficiaryRequest:
      type: object
      additionalProperties: false
      required: [networkCode, accountNumber]
      properties:
        networkCode:
          type: string
          minLength: 2
          maxLength: 32
        accountNumber:
          type: string
          minLength: 4
          maxLength: 64
    ResolvedBeneficiary:
      type: object
      required:
        [networkCode, accountType, networkLabel, accountNumber, accountName]
      properties:
        networkCode: { type: string }
        accountType: { type: string, enum: [momo, bank] }
        networkLabel: { type: string }
        accountNumber: { type: string }
        accountName: { type: string }
    ResolvedBeneficiaryResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/ResolvedBeneficiary" }
    BeneficiaryInput:
      type: object
      additionalProperties: false
      required: [label, accountType, accountNumber, networkCode]
      description: |
        Create a Ghana MoMo or bank beneficiary. `networkCode` must match
        `accountType` (`GET /beneficiaries/networks?kind=momo|bank`).
        For MoMo omit `bankName`. For bank, `bankName` is optional and
        defaults to the network catalog label.
      properties:
        label: { type: string, minLength: 1, maxLength: 120 }
        accountType:
          type: string
          enum: [momo, bank]
          description: Must match the kind of `networkCode` in the catalog.
        accountNumber:
          type: string
          minLength: 4
          maxLength: 64
          description: MoMo MSISDN (prefer 0XXXXXXXXX) or bank account number.
        networkCode:
          type: string
          minLength: 2
          maxLength: 32
          description: Catalog code for that accountType (e.g. MTNGH or OMNIBSIC).
        accountName:
          type: [string, "null"]
          minLength: 1
          maxLength: 200
          description: Holder name from POST /beneficiaries/resolve (recommended on Live).
        bankName:
          type: string
          minLength: 1
          maxLength: 120
          description: Bank only. Optional; defaults to the network label. Omit for MoMo.
        referenceId:
          type: [string, "null"]
          minLength: 1
          maxLength: 64
          description: Your correlation id. Unique per environment when set. Look up with GET /beneficiaries?referenceId=.
    BeneficiaryPatch:
      type: object
      additionalProperties: false
      description: |
        Metadata-only update. Rail fields (accountType, accountNumber,
        networkCode, accountName, bankName) cannot be changed.
      properties:
        label: { type: string, minLength: 1, maxLength: 120 }
        referenceId:
          type: [string, "null"]
          minLength: 1
          maxLength: 64
          description: Your correlation id (unique per environment). Pass null to clear.
      minProperties: 1
    Beneficiary:
      type: object
      required:
        [
          id,
          environment,
          label,
          accountType,
          accountNumber,
          networkCode,
          accountName,
          bankName,
          referenceId,
          createdAt,
          updatedAt,
        ]
      properties:
        id: { type: string, format: uuid }
        environment: { $ref: "#/components/schemas/Environment" }
        label: { type: string }
        accountType: { type: string, enum: [momo, bank] }
        accountNumber: { type: string }
        networkCode: { type: string }
        accountName: { type: [string, "null"] }
        bankName: { type: [string, "null"] }
        referenceId: { type: [string, "null"] }
        createdAt: { $ref: "#/components/schemas/DateTime" }
        updatedAt: { $ref: "#/components/schemas/DateTime" }
    BeneficiaryResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Beneficiary" }
    BeneficiaryList:
      type: object
      required: [beneficiaries, total, page, limit, environment]
      properties:
        beneficiaries:
          type: array
          items: { $ref: "#/components/schemas/Beneficiary" }
        total: { type: integer, minimum: 0 }
        page: { type: integer, minimum: 1 }
        limit: { type: integer, minimum: 1, maximum: 100 }
        environment: { $ref: "#/components/schemas/Environment" }
    BeneficiaryListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/BeneficiaryList" }
    TghsActivityStatus:
      type: string
      enum: [succeeded, failed, pending]
    Transaction:
      type: object
      required:
        [
          id,
          tradeId,
          type,
          source,
          environment,
          ghsAmount,
          usdtAmount,
          tghsAmount,
          label,
          reference,
          payeeName,
          paymentMode,
          statusComposite,
          payoutStatus,
          createdAt,
          updatedAt,
        ]
      properties:
        id: { type: string, format: uuid }
        tradeId: { type: [string, "null"] }
        type: { type: string, enum: [tghs_payout, tghs_mint] }
        source: { type: string, const: treasury }
        environment:
          anyOf:
            - $ref: "#/components/schemas/Environment"
            - type: "null"
        ghsAmount: { type: [number, "null"] }
        usdtAmount: { type: [number, "null"] }
        tghsAmount:
          anyOf:
            - $ref: "#/components/schemas/DecimalString"
            - type: "null"
        label: { type: [string, "null"] }
        reference: { type: [string, "null"] }
        payeeName: { type: [string, "null"] }
        paymentMode: { type: [string, "null"], enum: [momo, bank, null] }
        statusComposite: { $ref: "#/components/schemas/TghsActivityStatus" }
        payoutStatus: { $ref: "#/components/schemas/TghsActivityStatus" }
        createdAt: { $ref: "#/components/schemas/DateTime" }
        updatedAt: { $ref: "#/components/schemas/DateTime" }
    TransactionListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [transactions, total, page, limit, source, environment]
              properties:
                transactions:
                  type: array
                  items: { $ref: "#/components/schemas/Transaction" }
                total: { type: integer, minimum: 0 }
                page: { type: integer, minimum: 1 }
                limit: { type: integer, minimum: 1, maximum: 100 }
                source: { type: string, const: treasury }
                environment: { $ref: "#/components/schemas/Environment" }
    TghsActivity:
      type: object
      required:
        [
          id,
          environment,
          kind,
          status,
          entryType,
          amount,
          asset,
          tradeId,
          note,
          txHash,
          network,
          explorerTxUrl,
          beneficiaryId,
          paymentMode,
          paymentReference,
          payoutAccountNumber,
          payoutBankName,
          payoutLabel,
          sender,
          metadata,
          createdAt,
        ]
      properties:
        id: { type: string, format: uuid }
        environment: { $ref: "#/components/schemas/Environment" }
        kind: { type: string, enum: [mint, payout] }
        status: { $ref: "#/components/schemas/TghsActivityStatus" }
        entryType: { type: string, enum: [credit, debit] }
        amount: { $ref: "#/components/schemas/DecimalString" }
        asset: { type: string, const: tGHS }
        tradeId: { type: [string, "null"] }
        note: { type: [string, "null"] }
        txHash: { type: [string, "null"] }
        network: { type: string, const: base }
        explorerTxUrl: { type: [string, "null"], format: uri }
        beneficiaryId: { type: [string, "null"] }
        paymentMode: { type: [string, "null"], enum: [momo, bank, null] }
        paymentReference: { type: [string, "null"] }
        payoutAccountNumber: { type: [string, "null"] }
        payoutBankName: { type: [string, "null"] }
        payoutLabel: { type: [string, "null"] }
        sender:
          oneOf:
            - { $ref: "#/components/schemas/PayoutSender" }
            - { type: "null" }
        metadata:
          oneOf:
            - { $ref: "#/components/schemas/PayoutMetadata" }
            - { type: "null" }
        createdAt: { $ref: "#/components/schemas/DateTime" }
    TghsActivityListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [activities, total, page, limit, environment]
              properties:
                activities:
                  type: array
                  items: { $ref: "#/components/schemas/TghsActivity" }
                total: { type: integer, minimum: 0 }
                page: { type: integer, minimum: 1 }
                limit: { type: integer, minimum: 1, maximum: 100 }
                environment: { $ref: "#/components/schemas/Environment" }
    TghsSummaryResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [asset, environment, balance, wallet, activityCounts]
              properties:
                asset: { type: string, const: tGHS }
                environment: { $ref: "#/components/schemas/Environment" }
                balance:
                  allOf:
                    - $ref: "#/components/schemas/DecimalString"
                  description: Available tGHS balance for the selected environment.
                wallet:
                  type: object
                  description: Managed account metadata returned for reconciliation.
                  required: [address, network, explorerUrl, onchainRegistered]
                  properties:
                    address: { type: string }
                    network: { type: string, const: base }
                    explorerUrl: { type: string, format: uri }
                    onchainRegistered:
                      type: boolean
                      description: Whether the managed address is registered for on-chain balance checks in this environment.
                activityCounts:
                  type: object
                  required: [mint, payout, failed]
                  properties:
                    mint: { type: integer, minimum: 0 }
                    payout: { type: integer, minimum: 0 }
                    failed: { type: integer, minimum: 0 }
    PayoutSender:
      type: object
      additionalProperties: false
      description: |
        Optional remitter / originator. When provided, include `fullName`
        or both `firstName` and `lastName`. Stored on the payout or redemption
        receipt for merchant reconciliation.
      properties:
        fullName: { type: string, minLength: 1, maxLength: 200 }
        firstName: { type: string, minLength: 1, maxLength: 100 }
        lastName: { type: string, minLength: 1, maxLength: 100 }
        country: { type: string, minLength: 2, maxLength: 2, description: ISO-3166-1 alpha-2 }
        addressLine1: { type: string, minLength: 1, maxLength: 200 }
        addressLine2: { type: string, minLength: 1, maxLength: 200 }
        city: { type: string, minLength: 1, maxLength: 100 }
        region: { type: string, minLength: 1, maxLength: 100 }
        postalCode: { type: string, minLength: 1, maxLength: 32 }
        phone: { type: string, minLength: 1, maxLength: 32 }
        email: { type: string, format: email, maxLength: 200 }
        dateOfBirth: { type: string, pattern: '^\\d{4}-\\d{2}-\\d{2}$' }
        idType:
          type: string
          enum: [passport, national_id, drivers_license, other]
        idNumber: { type: string, minLength: 1, maxLength: 64 }
        idCountry: { type: string, minLength: 2, maxLength: 2 }
        nationality: { type: string, minLength: 2, maxLength: 2 }
    PayoutMetadata:
      type: object
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 500
      description: Optional free-form string map (at most 20 keys).
      maxProperties: 20
    TghsPayoutRequest:
      type: object
      additionalProperties: false
      required: [amount, beneficiaryId]
      properties:
        amount:
          type: number
          exclusiveMinimum: 0
          description: tGHS amount with at most 2 decimal places.
        beneficiaryId: { type: string, minLength: 1, maxLength: 36 }
        reference:
          type: string
          minLength: 1
          maxLength: 64
          description: Optional merchant correlation id. Returned as `reference` on the redemption. Used as rail narration when set.
        idempotencyKey:
          type: string
          minLength: 8
          maxLength: 64
          description: Optional retry key. The same merchant, environment, and key returns the existing payout or redemption instead of creating a duplicate.
        sender:
          $ref: "#/components/schemas/PayoutSender"
        metadata:
          $ref: "#/components/schemas/PayoutMetadata"
        simulateFailure:
          type: boolean
          description: Test only. Simulated burn still succeeds; Ghana payout fails (`payout_failed`). Balance is not restored after burn.
    TghsPayoutRecord:
      type: object
      required:
        - id
        - environment
        - network
        - amount
        - beneficiaryId
        - reference
        - sender
        - metadata
        - status
        - burnTxHash
        - burnExplorerUrl
        - failureReason
        - burnConfirmedAt
        - completedAt
        - createdAt
        - updatedAt
      properties:
        id: { type: string, format: uuid }
        environment: { type: string, const: live }
        network: { type: string, enum: [base, base-sepolia] }
        amount: { $ref: "#/components/schemas/DecimalString" }
        beneficiaryId: { type: string, format: uuid }
        reference: { type: [string, "null"] }
        sender:
          oneOf:
            - { $ref: "#/components/schemas/PayoutSender" }
            - { type: "null" }
        metadata:
          oneOf:
            - { $ref: "#/components/schemas/PayoutMetadata" }
            - { type: "null" }
        beneficiaryLabel: { type: [string, "null"] }
        paymentMode: { type: [string, "null"], enum: [momo, bank, null] }
        payoutAccountNumber: { type: [string, "null"] }
        status:
          type: string
          description: >
            Create returns `approved` (burn queued). Worker advances to
            `burn_submitted`, then confirmation and Ghana payout states.
          enum: [requested, approved, burn_submitted, burn_confirmed, burn_failed, payout_pending, payout_failed, completed]
        burnTxHash: { type: [string, "null"] }
        burnExplorerUrl: { type: [string, "null"], format: uri }
        failureReason: { type: [string, "null"] }
        burnConfirmedAt:
          {
            oneOf:
              [{ $ref: "#/components/schemas/DateTime" }, { type: "null" }],
          }
        completedAt:
          {
            oneOf:
              [{ $ref: "#/components/schemas/DateTime" }, { type: "null" }],
          }
        createdAt: { $ref: "#/components/schemas/DateTime" }
        updatedAt: { $ref: "#/components/schemas/DateTime" }
    TghsPayoutRecordResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/TghsPayoutRecord" }
    TghsPayoutRecordListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [redemptions]
              properties:
                redemptions:
                  type: array
                  items: { $ref: "#/components/schemas/TghsPayoutRecord" }
    TghsPayoutResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [activity, balance, environment]
              properties:
                activity: { $ref: "#/components/schemas/TghsActivity" }
                balance: { $ref: "#/components/schemas/DecimalString" }
                environment: { $ref: "#/components/schemas/Environment" }
    CreateWebhookEndpointRequest:
      type: object
      additionalProperties: false
      required: [url, environment]
      properties:
        url: { type: string, format: uri, maxLength: 512 }
        description: { type: string, maxLength: 200 }
        environment: { $ref: "#/components/schemas/Environment" }
        events:
          type: array
          description: |
            Event filters for merchant HTTP delivery. Supported filters include
            `tghs.payout.*`, exact `tghs.payout.*` event names, `webhook.test`,
            and `*`. OTC desk activity is not delivered over HTTP webhooks.
          items:
            type: string
            examples: [tghs.payout.*, webhook.test]
    WebhookEndpoint:
      type: object
      required:
        [
          id,
          url,
          description,
          enabled,
          environment,
          events,
          secretPrefix,
          createdAt,
        ]
      properties:
        id: { type: string, format: uuid }
        url: { type: string, format: uri }
        description: { type: [string, "null"] }
        enabled: { type: boolean }
        environment: { $ref: "#/components/schemas/Environment" }
        events:
          type: [array, "null"]
          items: { type: string }
        secretPrefix:
          type: string
          description: Non-secret identifier for the active signing secret.
        createdAt: { $ref: "#/components/schemas/DateTime" }
    WebhookEndpointListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [endpoints]
              properties:
                endpoints:
                  type: array
                  items: { $ref: "#/components/schemas/WebhookEndpoint" }
    WebhookEndpointCreatedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/WebhookEndpoint"
                - type: object
                  required: [signingSecret]
                  properties:
                    signingSecret:
                      type: string
                      readOnly: true
                      description: One-time secret value; never returned by list operations.
    RotatedWebhookSecretResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [id, secretPrefix, signingSecret]
              properties:
                id: { type: string, format: uuid }
                secretPrefix: { type: string }
                signingSecret:
                  type: string
                  readOnly: true
                  description: One-time secret value.
    WebhookTestResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessBase"
        - type: object
          properties:
            data:
              type: object
              required: [deliveryId, enqueued]
              properties:
                deliveryId: { type: string, format: uuid }
                enqueued: { type: boolean }
